NODE_ENV=production

PORT=5000

DATABASE_URL=

REDIS_HOST=
REDIS_PORT=

WHATSAPP_ENABLED=true

WHATSAPP_API_VERSION=v23.0

WHATSAPP_PHONE_NUMBER_ID=

WHATSAPP_ACCESS_TOKEN=

WHATSAPP_TEMPLATE_NAME=spice_market_daily_update

WHATSAPP_TEMPLATE_LANGUAGE=en